<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/" class="nav-title">{{ .Site.Title }}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/posts" class="nav-item-content">{{ i18n "posts" }}</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/sobre" class="nav-item-content">{{ i18n "about" }}</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/tags" class="nav-item-content">Editorias</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>